[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-extensions = "*"
google-api-python-client = "*"
django-environ = "*"
django-dotenv = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
